absl-py==1.4.0
accelerate==0.27.2
addict==2.4.0
aiohttp==3.8.5
aiosignal==1.3.1
albumentations==1.3.0
altair==5.0.1
antlr4-python3-runtime==4.8
appdirs==1.4.4
async-timeout==4.0.2
attrs==23.1.0
blinker==1.6.2
braceexpand==0.1.7
brotlipy==0.7.0
cachetools==5.3.1
certifi==2023.7.22
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.6
cloudpickle @ file:///croot/cloudpickle_1683040006038/work
cmake==3.27.0
contourpy==1.1.0
cryptography @ file:///croot/cryptography_1689373676338/work
cycler==0.11.0
cytoolz @ file:///croot/cytoolz_1667465931118/work
dask @ file:///croot/dask-core_1686782904390/work
decorator==5.1.1
diffusers==0.26.1
docker-pycreds==0.4.0
einops==0.3.0
facexlib==0.3.0
filelock==3.12.2
filterpy==1.4.5
fonttools==4.41.1
frozenlist==1.4.0
fsspec==2023.6.0
ftfy==6.1.1
future==0.18.3
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.22.0
google-auth-oauthlib==1.0.0
grpcio==1.56.2
huggingface-hub==0.21.3
idna @ file:///croot/idna_1666125576474/work
imagecodecs @ file:///croot/imagecodecs_1677576717595/work
imageio @ file:///croot/imageio_1687264943895/work
imageio-ffmpeg==0.4.2
imgaug==0.4.0
importlib-metadata==6.8.0
importlib-resources==6.0.0
invisible-watermark==0.2.0
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
kiwisolver==1.4.4
kornia==0.6.0
lazy-loader==0.3
lit==16.0.6
llvmlite==0.42.0
lmdb==1.4.1
locket @ file:///opt/conda/conda-bld/locket_1652903118915/work
lpips==0.1.4
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
mdurl==0.1.2
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
mmcv==2.0.1
mmengine==0.8.4
mpmath==1.3.0
multidict==6.0.4
networkx @ file:///croot/networkx_1690561992265/work
numba==0.59.0
numpy @ file:///tmp/abs_653_j00fmm/croots/recipe/numpy_and_numpy_base_1659432701727/work
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.1.1
open-clip-torch==2.0.2
openai-clip==1.0.1
opencv-python==4.6.0.66
opencv-python-headless==4.8.0.74
packaging==23.1
pandas==2.0.3
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pathtools==0.1.2
Pillow==10.0.0
piq==0.8.0
platformdirs==3.10.0
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
protobuf==3.20.3
psutil==5.9.5
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydeck==0.8.1b0
pyDeprecate==0.3.1
Pygments==2.15.1
pyiqa==0.1.10
Pympler==1.0.1
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing==3.0.9
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.8.2
pytorch-fid==0.3.0
pytorch-lightning==1.4.2
pytz==2023.3
PyWavelets @ file:///croot/pywavelets_1670425177960/work
PyYAML==6.0.1
qudida==0.0.4
referencing==0.30.0
regex==2023.6.3
requests @ file:///croot/requests_1690400202158/work
requests-oauthlib==1.3.1
rich==13.5.0
rpds-py==0.9.2
rsa==4.9
safetensors==0.4.2
scikit-image==0.20.0
scikit-learn==1.3.0
scikit-video==1.1.11
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1653073865807/work
semver==3.0.1
sentencepiece==0.1.99
sentry-sdk==1.28.1
setproctitle==1.3.2
shapely==2.0.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.0
streamlit==1.12.1
streamlit-drawable-canvas==0.8.0
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.1
termcolor==2.3.0
test-tube==0.7.5
threadpoolctl==3.2.0
tifffile==2023.7.18
timm==0.9.2
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.1
toolz @ file:///croot/toolz_1667464077321/work
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchmetrics==0.6.0
torchvision==0.13.1+cu113
tornado==6.3.2
tqdm==4.65.0
transformers==4.38.2
triton==2.2.0
tsnecuda @ file:///home/conda/feedstock_root/build_artifacts/tsnecuda_1644303425319/work/build/python
typing-extensions==4.10.0
tzdata==2023.3
tzlocal==5.0.1
urllib3 @ file:///croot/urllib3_1686163155763/work
validators==0.20.0
wandb==0.15.7
watchdog==3.0.0
wcwidth==0.2.6
webdataset==0.2.5
Werkzeug==2.3.6
yapf==0.40.1
yarl==1.9.2
zipp==3.16.2
